<div class="section-main">
    <div class="section-left">
        <img src="https://img.freepik.com/free-photo/traveling-concept-with-landmarks_23-2149153261.jpg" alt="">   
        <!-- <img src="../images/image1.PNG" alt="">    -->
    </div>
    <div class="section-right">
        <div class="title">
            <h1>მატარებლის ბილეთები</h1>
        </div>
        <div class="text">
            <p>რკინიგზის ბარათების შესაძენად თქვენ დაგჭირდებათ თითოეული მგზავრის პირადი ნომერი. გთხოვთ, მოამზადოთ ეს ინფორმაცია წინასწარ.</p>
        </div>
        <div class="container-list">
            <div class="container">
                <img src="https://img.icons8.com/?size=100&id=107730&format=png&color=000000" alt="">
                <h4>შეუზღუდავი შეთავაზებები</h4>
            </div>
            <div class="container">
                <img src="https://img.icons8.com/?size=100&id=NBMF1Ak8RoFz&format=png&color=000000" alt="">
                <h4>24/7 მხარდაჭერა</h4>
            </div>
            <div class="container">
                <img src="https://img.icons8.com/?size=100&id=239&format=png&color=000000" alt="">
                <h4>100% უსაფრთხო მგზავრობა</h4>
            </div>
            <div class="container">
                <img src="https://img.icons8.com/?size=100&id=22128&format=png&color=000000" alt="">
                <h4>100% უსაფრთხო გადახდა</h4>
            </div>
        </div>
    </div>
</div>
